main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 2px #999 solid;
    border-radius: 0.5em;
    padding: 1em 2em;
    margin: 2em 0 0 0;
    color: #fff;
    background: rgb(90, 81, 74);
    font-family: "Courier New", Verdana, serif;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.d-none {
    display: none;
}
